src/**
packages/*/src/**
packages/*/test/**
packages/*/tsconfig.json
test/**
.github/**
.vscode/**
.vscode-test/**
.cache/**
*.tsbuildinfo
*.vsix
vitest.config.ts
tsconfig.json
.gitignore
.eslintrc*
eslint.config.*
docs/**
CONTRIBUTING.md
CHANGELOG.md
